body {
  background-image: url('https://hotpotmedia.s3.us-east-2.amazonaws.com/8-834wkGa43zvMLCL.png?nc=1');
  background-size: cover;
  background-position: center;
}
h1 {
  color: #83CDE0;
  text-align: center;
  font-size: 48px;
  margin-top: 100px;
}
h2 {
  color: white;
  font-size: 32px;
  margin-top: 50px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 20px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.logos {
  width: 10px;
  height: auto;
}











.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
