.blu{
    color:#4682B4;
}

.gre{
    color: #7da97f;
}

.pur{
    color: #9ca0ef
}

#logo {
    position: absolute;
    left: 50%;
    top: calc(50vh - 3em);
    transform: translateX(-50%);
    height: 5em;
    filter: drop-shadow(0px -0.2em #00000036) drop-shadow(0px 0px 25px #0080ff);
}

#tetris, #DScert {
    max-width: 100%;
    border: 3px solid #000000;
    border-radius: 10px;
}

#tetris {
    filter: drop-shadow(0px 0px 25px #b9f8c7);
}

#DScert {
    filter: drop-shadow(0px 0px 25px #9ca0ef);
}

html {
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Helvetica";
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

hr {
    position: absolute;
    background-color: #1E2F97;
    top: 51%;
    height: 5px;
    width: 45%;
    color: #000000;
}

h2 {
    font-size: 2em;
    color: black;
}

h3 {
    font-size: 25px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: inline-block;
    padding: 0 20px;
    opacity: 0;
    transition: opacity 10s;
}

#intro.move {
    opacity: 1;
}

p, li {
    font-family: "Helvetica";
    font-size: 25px;
    color: black;
    word-wrap: break-word;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}

.container {
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.column1 {
    width: 350px;
    padding: 30px;
    background-color: #EBECF0;
    border: 8px solid #98FB98;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1.5s, opacity 1.5s;
}
.column1.move {
    opacity: 1;
    transform: translateY(0);
}

.column2 {
    width: 350px;
    padding: 30px;
    background-color: #EBECF0;
    border: 8px solid #a2a2f7;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 2.5s, opacity 2.5s;
}
.column2.move {
    opacity: 1;
    transform: translateY(0);
}

.column3 {
    width: 350px;
    padding: 30px;
    background-color: #EBECF0;
    border: 8px solid #FFB6C1;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 3.5s, opacity 3.5s;
}
.column3.move {
    opacity: 1;
    transform: translateY(0);
}

.arrow-wrapper {
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 49.5%;
    transform: translateX(-50%);
    width: 300px;
    cursor: pointer;
    z-index: 999; /* Ensure the arrows are above other elements */
}

.arrow-container {
    display: flex;
    flex-direction: column;
}

.arrow {
    width: 100%;
    height: 8px;
    opacity: 0;
    margin: 3px 0;
    animation: gentleFlash 4s infinite;
}

.arrow:before {
    content: "V";
    display: block;
    text-align: center;
    color: #5080fa;
    font-size: 25px;
    font-family: "Helvetica";
    transform: scaleX(2);
}

@keyframes gentleFlash {
    0%, 100% {
        opacity: 0;
    }
    5%, 95% {
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
}